#docserveerrors {
	border-style: solid;
	border-width: 2px;
	border-color: red;
	padding: 5px;
}

.errmono {
	font-family: monospace;
}

span.hll span.tok-go {
	color: black;
}

/* main {
	background-image: url(/assets/images/tile_draft.png);
} */

/* min-width is only used for centering on landing page */
@media only screen and (min-width: 1650px) and (min-height: 980px) {
	
}
/* responsive stuff for smaller displays */

@media only screen and (max-width: 1420px) {
	
}

@media only screen and (max-width: 1200px) {
	
}

@media only screen and (max-width: 992px) {
	
}

@media only screen and (max-width: 768px) {
	
}

@media only screen and (max-width: 576px) {
   
}
