#glossary_overlay {
	display: none;
	position: fixed;
	top: 10px;
	left: 10px;
	border: 1px solid lightgray;
	z-index: 1100;
	background-color: white;
	width: 40%;
	padding: 4px;
	box-shadow: 0 3px 6px rgba(29,29,27,.2);
}


/* Find external links: */

main a[href^="http"] {
	background: transparent url(/assets/images/external_links.svg) center right no-repeat;
	background-size: 14px;
    padding-right: 16px;
}

main a[href*="glossar.html"] {
	background: transparent url(/assets/images/info.svg) center right no-repeat;
	background-size: 14px;
    padding-right: 16px;
}

#ytbox {
	position: relative;
	cursor: pointer;
}

.ytbanderole {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color:rgba(0,0,0,0.50); 
	padding: 4px;
	color: white;
}

#morebutton, .closeonly a {
	border-radius: 4px;
	background-color: #13d389;
	color: white;
	padding: 4px;
}

.morebutton:hover, .morebutton:visited, .morebutton:active,
.closeonly a:hover, .closeonly a:visited, .closeonly a:active {
	border-radius: 4px;
	background-color: #13d389;
	color: white;
	padding: 4px;
}

p.buttonright {
	text-align: right;
}